body { 
  text-align: center;
  background: url(images/farol.jpg) no-repeat center center fixed; 
  background-size: cover;
  color: #fff;
  font-family: Helvetica;
  }

hr {
  width: 300px;
}
p {
  font-size: 22px;
}