body {
                /* optional, center the image */
}
h1, h3 {
	color: #0d44FF;
}
#bg {
  position: fixed; 
  top: 0; 
  left: 0; 
	
  /* Preserve aspet ratio */
  min-width: 100%;
  min-height: 100%;}