h1 {
	font-weight: bold;
	text-align: center;
	color: #FFFFFF; 
}

#slogan {font-weight: bold;
text-align: center;}

h3 {
	font-weight: bold;
	color: #0d48ad;
}

html { 
  background: url(images/friends_beach.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
p {
	color: #FFFFff;
}
ul {color: #fffff;
}