body {
                /* optional, center the image */
}
h1, h3 {
	color: #0d44FF;
}
html { 
  background: url("images/godzooky.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}